<a href="https://colab.research.google.com/github/Tikam07/ETA-OF-HOTEL-BOOKING-KAGGLE-/blob/main/Introduction_to_Series_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Series

In [2]:
import pandas as pd

### Series
* It is a 1D array in python

In [3]:
numbers = [1,2,3,4,5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
letters = ['a','b','c','d','e']
pd.Series(data=letters,index=numbers)

1    a
2    b
3    c
4    d
5    e
dtype: object

*Changing the index in a Series*

In [5]:
data = {'name':'Tikam','age':26,'work':'Employed'}
pd.Series(data=data)

name       Tikam
age           26
work    Employed
dtype: object

In [6]:
# Changing the index of work -> job
pd.Series(data=data,index=['name','age','job'])

name    Tikam
age        26
job       NaN
dtype: object

# Attributes/ Basic Property

In [7]:
# .dtype return the type of Series
number_series = pd.Series(numbers)
letter_series = pd.Series(letters)

In [8]:
number_series.dtypes

dtype('int64')

In [10]:
number_series.dtype

dtype('int64')

In [11]:
letter_series.dtype

dtype('O')

In [ ]:
# values return the Series of an array

In [12]:
number_series.values

array([1, 2, 3, 4, 5])

In [14]:
letter_series.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [ ]:
# index return information about the index

In [15]:
number_series.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
letter_series.index

RangeIndex(start=0, stop=5, step=1)

## **.hasnans** will check whether a Series has missing values (for NaNs)

In [20]:
incomplete_series = pd.Series(data=['a','b',None],index =[1,2,3])
incomplete_series

1       a
2       b
3    None
dtype: object

In [21]:
incomplete_series.hasnans

True

In [ ]:
# shape returns the shape of a Series as a tuple

In [22]:
number_series.shape

(5,)

In [23]:
letter_series.shape

(5,)

In [ ]:
# size return the size of the series

In [24]:
number_series.size

5

In [26]:
letter_series.size

5

# Basic Numerical Methods

In [28]:
values = pd.Series(data=[1.0,2,5,0.5,None,4.0,1.0])

In [ ]:
# max() - Gets the max of the value

In [29]:
values.max()

5.0

In [ ]:
# min() -  Gets the min of the value

In [30]:
values.min()

0.5

In [ ]:
# sum() -  Gets the sum of the values

In [31]:
values.sum()

np.float64(13.5)

In [ ]:
# mean() - Gets the mean/average of the values

In [33]:
values.mean()

np.float64(2.25)

In [ ]:
# idxmax() - Gets the index of the highest value

In [34]:
values.idxmax()

2

In [ ]:
# idxmin() -  Gets the index of the minimum value

In [35]:
values.idxmin()

3